<!DOCTYPE html>
<html ng-app="store">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body ng-controller="StoreController as store">
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<ul class="list-group-item">
    <!-- ng-repeat="variable in dataset": foreach (variable in dataset) - https://docs.angularjs.org/api/ng/directive/ngRepeat -->
    <!-- orderBy: orders the result by a predicate (putting "-" in front reverses the order) - https://docs.angularjs.org/api/ng/filter/orderBy -->
    <!-- ng-hide: hides the tag according to a predicate - https://docs.angularjs.org/api/ng/directive/ngHide -->
    <li ng-repeat="product in store.products | orderBy: 'price'" ng-hide="product.soldOut">

        <!-- ng-include: includes the contents of a HTML file - https://docs.angularjs.org/api/ng/directive/ngInclude -->
        <!--<h1 ng-include="'product-title.html'"></h1> -->
        <h1>
            <product-title></product-title>
        </h1>


        <!-- ng-src: loading data using "src" does not work right, ng-src is trusted - https://docs.angularjs.org/api/ng/directive/ngSrc -->
        <img ng-src="{{ product.image.thumbnail }}"/>

        <product-panels></product-panels>
</ul>
</body>
</html>