<!DOCTYPE html>
<html ng-app="store">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
</head>
<body ng-controller="StoreController as store">
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<ul class="list-group-item">
    <!-- ng-repeat="variable in dataset": foreach (variable in dataset) - https://docs.angularjs.org/api/ng/directive/ngRepeat -->
    <!-- orderBy: orders the result by a predicate (putting "-" in front reverses the order) - https://docs.angularjs.org/api/ng/filter/orderBy -->
    <!-- ng-hide: hides the tag according to a predicate - https://docs.angularjs.org/api/ng/directive/ngHide -->
    <li ng-repeat="product in store.products | orderBy: 'price'" ng-hide="product.soldOut">
        <h1>
            {{ product.name }}
            <em class="pull-right">
                {{ product.price | currency }} <!-- currency is a filter  -->
            </em>
        </h1>
        <!-- ng-src: loading data using "src" does not work right, ng-src is trusted - https://docs.angularjs.org/api/ng/directive/ngSrc -->
        <img ng-src="{{ product.image.thumbnail }}"/>

        <!-- ng-init: initializes a value in the current scope - https://docs.angularjs.org/api/ng/directive/ngInit -->
        <section ng-controller="PanelController as panel">
            <ul class="nav nav-pills" >
                <!-- ng-class: defines the class of the element based on an expression dynamically - https://docs.angularjs.org/api/ng/directive/ngClass -->
                <li ng-class="{ active: panel.isSelected(1) }">
                    <!-- ng-click: defines an action to be performed when the item is clicked - https://docs.angularjs.org/api/ng/directive/ngClick -->
                    <a href ng-click="panel.selectTab(1)">Description</a>
                </li>
                <li ng-class="{ active: panel.isSelected(2) }">
                    <a href ng-click="panel.selectTab(2)">Specifications</a>
                </li>
                <li ng-class="{ active: panel.isSelected(3) }">
                    <a href ng-click="panel.selectTab(3)">Reviews</a>
                </li>
            </ul>

            <div class="panel" ng-show=" panel.isSelected(1)">
                <h4>Description</h4>
                <p>{{ product.description }}</p>
            </div>
            <div class="panel" ng-show=" panel.isSelected(2)">
                <h4>Specification</h4>
                <blockquote>No specifications yet</blockquote>
            </div>
            <div class="panel" ng-show=" panel.isSelected(3)">
                <h4>Reviews</h4>
                <blockquote ng-repeat="review in product.reviews">
                    <b>Rating: {{ review.rating }}</b>
                    {{ review.body }}
                    <cite>by: {{ review.author }}</cite>
                </blockquote>
            </div>

            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewController.addReview(product)">
                <blockquote>
                    <b>Rating: {{ reviewCtrl.review.rating }}</b>
                    {{ reviewCtrl.review.body }}
                    <cite>by: {{ reviewCtrl.review.author }}</cite>
                </blockquote>

                <!-- ng-model: binds the value of the form element to a property - https://docs.angularjs.org/api/ng/directive/ngModel -->
                <select ng-model="reviewCtrl.review.rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <textarea ng-model="reviewCtrl.review.body"></textarea>
                <label>by: </label>
                <input ng-model="reviewCtrl.review.author" type="email" />
                <input type="button" value="Submit" />
            </form>
            <!-- ng-show: shows the tag according to a predicate - https://docs.angularjs.org/api/ng/directive/ngShow -->
            <button ng-show="store.product.canPurchase">Add to Cart</button>
        </section>
</ul>
</body>
</html>